[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]

[packages]
dpath = "==2.0.1"
pytest = "==6.1.0"
requests = "==2.24.0"
pytest-parallel = "==0.1.0"

[requires]
python_version = "3.7"
